<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Management</title>
    <link rel="stylesheet" href="CSS/login.css">


</head>
<body>
<div>
    <div class="login">
        <div class="login-panel">
            <div class="login-title">
                <h2>LOGIN</h2>
            </div>
            <div class="login-container">
                <input type="text" id="userName" class="input" placeholder="enter username here" />
            </div>
            <div class="login-container">
                <input  type="password" id="pwd"  class="input" placeholder="enter password here" />
            </div>
            <div class="login-container">
                <p  id="login_tips" class="red"></p>
            </div>
            <div class="login-container">
                <!--<a href="http://localhost:8080/BootSpringBoot/login">-->
                    <input type="button" id="login_btn" value="login now" class="btn-login" />
                <!--</a>-->
            </div>
        </div>
    </div>
</div>
<script src="jquery.js"></script>

<script src="login.js"></script>
</body>
</html>
